/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.content-header {
    /* position: absolute;
    top: 10px;
    right: 20px; */
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.content-header__button {
    padding: 5px 10px;
    background-color: rgb(52, 52, 52);
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 4px;    
    margin-left: 5px;
}

/* Tentativo di usare Flex con Flex-Wrap e Justify-Content:Flex-Start,
dando dei margini agli items all'interno del contenitore.  */
/* .content-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}
.content-main__user {
    margin: 7px;
} */

/* Provare con Flex-Wrap e Flex-Grow, dando del margine agli items */
.content-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}
.content-main__user {
    margin: 7px;    
    flex-grow: 1;
}
.content-main__user img {
    width: 100%;
}

/* Pirmo tentativo effettuato */
/* .content-main {
    width: 90%;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}
.content-main__user {
    flex: 1 0 300px;
} */

.content-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(33, 35, 36);
    color: white;
}

.content-footer {
    display: flex;
    justify-content: space-between;
}

.tool {
    display: inline-block;
    text-align: center;
}

.tool__icon {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
}
.tool__icon i {
    font-size: 2em;
}
.tool__icon p {
    font-size: 1.2em;
}

.tool__icon_meeting:hover i{
    color: greenyellow;
}
.tool__icon_end-meeting {
    height: 100%;
    background-color: rgb(99, 105, 108);
    color: tomato;
}